---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="A place to share simple thoughts, code, and ideas."
  pubDate={new Date('June 3 2025')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hi, I'm Elshe. I like writing code, learning new things, and sometimes I make mistakes while doing it. But that's how I learn and have fun.
  </p>

  <p>
    This website is like my online notebook. I write about things I’m working on, what I’m learning, or just things I find interesting. It’s simple and real, and I’m always adding more.
  </p>

  <p>
    If you enjoy coding, side projects, or just want to read some tech stuff, feel free to explore this site.
  </p>
</Layout>
